.main-content {
	height: 800px;
	width: 1000px;
	margin: 0 auto;
}

.procras-overlay-bg {
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 10000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}


.procras-overlay-content {
	background: #fff;
	padding: 1%;
	width: 40%;
	position: absolute;
	top: 15%;
	left: 50%;
	margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
	cursor: default;
	z-index: 100001;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.procras-close-btn {
	cursor: pointer;
	padding: 2% 5%;
	background: #cc0000; /* fallback */
	border: none;
	border-radius: 4px;
}

.procras-go-btn {
	cursor: pointer;
	padding: 2% 5%;
	background: #a9e7f9; /* fallback */
	border: none;
	border-radius: 4px;
	//box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

#closeButton {
	float: left;
}

#goButton {
	float: right;
}

#bottomDiv {
/* 
    width: 40%;
    margin: auto;
    position: fixed;
    bottom: 0;
    */
    border-style: solid;
}

.popupText {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 16px;
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

	.overlay-content {
		width: 96%;
		margin: 0 2%;
		left: 0;
	}
	
}



